body {
    background-image: url("../images/chemistry-wallpaper-b-w.jpg");
}

.container {
    background: #FBB6FB;
    overflow: auto; 
    clear: both;
    border: 5px solid whitesmoke;
    margin-top: 50px;
    height: 85vh;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    text-decoration: underline;
    
}

h2, h3, p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

p {
    font-size: 1.5em;
}

#start {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    border: 2px solid black;
    margin-top: 3.5em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: gray;
    color: whitesmoke;
}

#answerChoices:hover {
    background: plum;
}

button, btn {
    background: #B9B8B8
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-bottom: 10px;
    width: 35%;
}

.btn-outline-secondary {
    color: black;
    border-color: #595858;
}

img {
    height: 300px;
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}