body {
    background-image: url("../images/chemistry-wallpaper-b-w.jpg");
}

.container {
    background: purple;
    overflow: auto; 
    clear: both;
    border: 5px solid whitesmoke;
    margin-top: 50px;
    height: 90vh;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    text-decoration: underline;
    
}

h2, h3, p, h4 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

h1, h3, #timeRemaining, .status, #instructions {
    color: whitesmoke;
}

#instructions {
    margin-top: 1em;
}

p {
    font-size: 1.5em;
}

#start {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    border: 2px solid black;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: gray;
    color: whitesmoke;
}


button, btn {
    background: gray;
    display: flex;
    justify-content: center;
    color: purple;
    margin-bottom: 10px;
    width: 35%;
}

.btn-outline-secondary:hover {
    background: purple;
}

.btn-outline-secondary {
    color: black;
    border-color: purple;
    background: whitesmoke;
}


img {
    height: 300px;
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-left: auto;
    margin-right: auto;
    /* background: purple; */
    font: whitesmoke;
}

.list-group {
    background: gray;
}

ul, li {
    list-style: none;
}

.reset {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}